//
// Components: footer, header etc.
// --------------------------------------------------
.blog-sidebar {
  ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    a {
      text-decoration: none;
      font-size: 18px;
    }
  }
}
